.button {
    background-color: var(--theme-dark-green);
    color: var(--theme-white);
    border: none;
    padding: 12px 30px;
    border-radius: 9999px;
    font-weight: 700;
    font-size: small;
    transition-duration: 80ms;
}

.button:hover{
    background-color: var(--theme-light-green);
    scale: 98%;
}