.navbar {
    display: flex;
    align-items: center;
    padding: 5px 50px;
    gap: 50px;
    position: fixed; 
    top : 0;
    width: 100vw;
    z-index: 1000;
    box-sizing: border-box;
    background: var(--theme-white);
}

.navbar .logo h1 {
    margin: 0;
    color: var(--theme-gray);
}

.navbar .logo p {
    margin: 0;
    color: var(--theme-dark-green);
    font-weight: bold;
}

.navbar .nav-links {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.navbar .search {
    flex: 1;
    flex-shrink: 0;
    position: relative;
}

.navbar .search .field {
    border: none;
    background-color: var(--theme-white);
    padding: 13px;
    padding-right: 20%;
    box-sizing: border-box;
    width: 100%;
    border-radius: 9999px;
    color: var(--theme-gray);
    font-size: 14px;
    color: var(--theme-gray);
    outline: 1px solid var(--theme-light-gray);
}

.navbar .search .field::placeholder{
    font-size: small;
    color: var(--theme-light-gray);
}

.navbar .search .search-icon {
    position: absolute;
    right: 3%;
    height: 100%;
    top: 55%;
    transform: translateY(-50%);
    color: var(--theme-dark-green);
    font-size: larger;
    cursor: pointer;
    border: none;
    background: none;
}

.navbar .search .field:focus {
    outline: 2px solid var(--theme-light-gray);
}

.navbar .search .field::placeholder {
    font-weight: lighter;
}


.navbar .options {
    flex: 1/2;
    flex-shrink: 0;
    font-size: larger;
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--theme-dark);
    justify-content: center;
    gap: 20px;
}

.navbar .user {
    flex: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .user .login-signup {
    display: flex;
    flex-shrink: 0;
    gap: 10px;
}

.navbar .user .user-logged-in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.navbar .options .database{
    padding: 5px 10px;
}

.navbar .options .database p{
    margin: 0;
    font-size: small;
    font-weight: bold;
    display: flex;
    gap: 3px;
}

.navbar .options .database p:nth-child(1){
    font-size: x-small;
}

.navbar .options .database p span:nth-child(1){
    color: var(--theme-dark-green);
}
.navbar .options .database p span:nth-child(3){
    color: var(--theme-red);
}

